profiles {
  standard {
    includeConfig 'conf/aws.config'
  }
}

manifest {
  name = 'sra_pipeline'
  description = 'Downloads a set of SRA entries, and renames the files'
  homePage = 'https://github.com/nf-core/sra_pipeline'
  version = '0.9.0'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.31.0'
}
