# exclude all nextflow files
.nextflow*
work/
pipeline_trace.txt
Logs
*.swp

#ignore nextflow workflows
workflow/nextflow.config
workflow/temp
workflow/Samples
workflow/QC

#pytests
*__pycache__* 
*.py[cod] 
*$py.class
