process {
  executor = 'slurm'
  queue = '32GB'
  clusterOptions = '--hold'

  //Process-specific parameters
  withName: downloadSRA {
    module: ['sra_toolkit/2.8.2-1']
  }
  withName: rawFastQC {
    module: ['fastqc/0.11.5']
  }
  withName: rawMultiQC {
    module: ['multiqc/1.7']
  }
}

//Trace File information
trace {
  enabled = true
  file = 'pipeline_trace.txt'
  field = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime'
}
