process {
  executor = 'slurm'
  queue = '32GB'
  clusterOptions = '--hold'

  //Process-specific parameters
  withName: checkDesignFile {
    container = 'docker://bicf/perl:1.1'
  }
  withName: downloadSRA {
    container = 'docker://bicf/sratoolkit:1.2'
  }
  withName: rawFastQC {
    container = 'docker://bicf/fastqc:1.3'
  }
  withName: rawMultiQC {
    container = 'docker://bicf/multiqc:1.3'
  }
}

singularity {
  enabled = true
  cacheDir = '/project/shared/bicf_workflow_ref/singularity_images'
}

//Trace File information
trace {
  enabled = true
  file = 'pipeline_trace.txt'
  field = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime'
}

env {
  http_proxy = "http://proxy.swmed.edu:3128"
  https_proxy = "http://proxy.swmed.edu:3128"
  all_proxy = "http://proxy.swmed.edu:3128"
  HTTP_PROXY = "http://proxy.swmed.edu:3128"
  HTTPS_PROXY = "http://proxy.swmed.edu:312"
  ALL_PROXY = "http://proxy.swmed.edu:3128"
}
