process {
  executor = 'slurm'
  queue = '32GB'
  clusterOptions = '--hold'
  module = ['singularity/3.0.2']

  //Process-specific parameters
  withName: downloadSRA {
    container = 'kavall86/sra_pipeline_downloadsra:latest'
  }
  withName: rawFastQC {
    container = 'kavall86/fastqc:latest'
  }
  withName: rawMultiQC {
    container = 'kavall86/multiqc:latest'
  }
}

//Trace File information
trace {
  enabled = true
  file = 'pipeline_trace.txt'
  field = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime'
}
